# Jekyll build output
_site
public
.sass-cache
.jekyll-metadata
mypac.pac
Gemfile
Gemfile.lock
*.lnk
*.dat
*.sh

# macOS system files
.DS_Store
.Spotlight-V100
.Trashes
.fseventsd

# Editor/IDE files
.vscode/

# Jekyll and Ruby
.bundle/
vendor/
.ruby-version
.ruby-gemset
